*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.play{
    display: flex;
    justify-content: space-evenly;

}
.choice-photo{
    max-width: 200px;
    max-height: 200px;
}
body{
    background-color: rgb(88, 85, 85)
}